/*-- scss:rules --*/

.quarto-title-banner {
  background-image: url('https://www.durham.ac.uk/media/durham-university/site-assets/image/logo-white.svg');
  background-repeat: no-repeat;
  background-position: right 2rem center;
  background-size: auto 55%;
}
