/*-- scss:rules --*/

.quarto-title-block .quarto-title-banner {
  background-image: url('im/du-logo-white.png') !important;
  background-repeat: no-repeat !important;
  background-position: right 2rem center !important;
  background-size: auto 55% !important;
}
